.container {
  &__homepage {
    &--columnone {
      border: solid;
      padding: 10px;

      //   @media screen and (max-width: 800px) {
      //     border: none;
      //   }
    }
    &--columntwo {
      border: solid;
      padding: 10px;

      //   @media screen and (max-width: 800px) {
      //     border: none;
      //   }
    }
  }

  &__guestbook {
    position: absolute;
    top: 40%;
    left: 23%;
    margin-left: -79px;
    margin-top: -40px;
    width: 130px;
    height: 40px;
  }
  &__about {
    &--text {
      border: solid;
      display: flex;
      justify-content: center;
      text-align: justify;
      padding: 5px;

      @media screen and (max-width: 800px) {
        justify-content: left;
        text-align: left;
      }
    }
  }
}

.mobile-space {
  display: none;

  @media screen and(max-width: 800px) {
    display: flex;
    padding: 5px;
  }
}

.btn {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  margin-left: 300px;
  border-radius: 40px;
  font-size: 17px;
  font-family: 'Courier';

  @media screen and (max-width: 800px) {
    margin-left: 50px;
    margin-top: 80px;
  }

  &__send {
    background: black;
    border: 2px solid white;
    letter-spacing: 1px;
    text-shadow: 0;
    color: white;
    font-weight: bold;
    transition: all 0.25s ease;
    cursor: pointer;

    &:hover {
      color: black;
      border: 2px solid;
      background: white;
    }
  }
}

.form {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.greetings {
  border: solid;
  margin-top: 70px;
  height: 450px;
  overflow-x: scroll;

  @media screen and (max-width: 800px) {
    height: 420px;
  }
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  &__logo-container {
    height: 100%;
    width: 70px;
    padding: 5px;

    @media screen and (max-width: 800px) {
      padding: 0px;
      margin-top: 7px;
    }
  }

  &__options {
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;

    &--option {
      padding: 10px;
      cursor: pointer;

      @media screen and (max-width: 1200px) {
        padding: 20px;
      }

      @media screen and (max-width: 800px) {
        display: none;
      }
    }
    &:hover {
      color: gray;
    }
  }
}

.social {
  margin: 5px;
  z-index: -1;
}

.card {
  &__menu {
    display: none;

    @media screen and (max-width: 800px) {
      display: flex;

      padding: 7px;
      font-size: 10px;
      cursor: pointer;
      margin-right: -70px;
    }
  }

  &__options {
    display: inline-block;
    position: relative;
    text-align: center;
  }
}

.credit {
  text-align: right;
  margin-right: 20px;

  @media screen and (max-width: 800px) {
    text-align: left;
    margin-left: 20px;
  }
}

.promo {
  border: solid;
  max-width: 920px;
  height: auto;

  @media screen and (max-width: 800px) {
    max-width: 300px;
    height: auto;
  }
}

.wrapper {
  margin-top: 64px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.space {
  padding: 5px;
}

.promo-wrapper {
  @media screen and (max-width: 800px) {
    padding-top: 5px;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.guestbook {
  &__columntwo {
    border: solid;
    padding: 10px;
  }
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffb1b1;
  height: 56px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar__logo {
  margin-left: 1rem;
}

.header__items {
  color: white;
  text-decoration: none;
  padding: 0 0.5rem;

  &:hover {
    color: orange;
  }
  @media (max-width: 800px) {
    display: none;
  }
}

.logo-space {
  flex: 1;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

  @media (max-width: 800px) {
    display: flex;
  }
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 2px;
  background: white;
}

.sidedrawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.sidedrawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidedrawer li {
  margin: 0.5rem 0;
}

.sidedrawer-link {
  color: #521751;
  text-decoration: none;
  font-size: 1.2rem;
  &:hover {
    color: orange;
  }
}

.sidedrawer.open {
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
}
